* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #07070a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;

    background: rgba(7,7,10,.8);
    backdrop-filter: blur(15px);

    border-bottom: 1px solid #202027;

    z-index: 100;
}

.logo {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
}

.logo span {
    color: #8b5cf6;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #8d8d98;
    font-size: 13px;
    transition: .2s;
}

nav a:hover {
    color: white;
}

.discord-btn {
    border: 1px solid #34343d;
    padding: 10px 16px;
    border-radius: 8px;

    font-size: 12px;
    font-weight: bold;

    transition: .2s;
}

.discord-btn:hover {
    border-color: #8b5cf6;
    color: #a78bfa;
}

.hero {
    min-height: 100vh;

    display: flex;
    align-items: center;

    padding: 120px 10%;

    position: relative;
    overflow: hidden;

    background:
        radial-gradient(
            circle at 80% 30%,
            rgba(139,92,246,.18),
            transparent 35%
        );
}

.hero::before {
    content: "";

    position: absolute;
    inset: 0;

    background-image:
        linear-gradient(#15151d 1px, transparent 1px),
        linear-gradient(90deg,#15151d 1px,transparent 1px);

    background-size: 70px 70px;

    opacity: .35;
}

.hero-content {
    position: relative;
    z-index: 2;

    max-width: 900px;
}

.tag,
.section-label {
    color: #777783;

    font-size: 11px;

    letter-spacing: 3px;

    font-weight: bold;
}

.hero h1 {
    font-size: clamp(60px, 10vw, 130px);

    line-height: .9;

    margin: 25px 0;

    letter-spacing: -7px;
}

.hero h1 span {
    color: #8b5cf6;
}

.description {
    color: #a3a3ae;

    max-width: 650px;

    font-size: 20px;

    line-height: 1.6;
}

.buttons {
    display: flex;

    gap: 12px;

    margin-top: 35px;

    flex-wrap: wrap;
}

.button {
    display: inline-block;

    padding: 14px 21px;

    border: 1px solid #30303a;

    border-radius: 8px;

    font-size: 13px;

    font-weight: bold;

    transition: .25s;
}

.button:hover {
    transform: translateY(-3px);
    border-color: #8b5cf6;
}

.button.main {
    background: #8b5cf6;

    border-color: #8b5cf6;

    box-shadow:
        0 10px 40px rgba(139,92,246,.2);
}

.stats {
    display: flex;

    gap: 60px;

    margin-top: 60px;
}

.stats strong {
    display: block;

    font-size: 28px;
}

.stats span {
    display: block;

    color: #666671;

    font-size: 9px;

    letter-spacing: 2px;

    margin-top: 5px;
}

.section {
    padding: 130px 10%;

    border-top: 1px solid #17171d;
}

.section h2 {
    font-size: clamp(50px,7vw,90px);

    letter-spacing: -5px;

    line-height: .95;

    margin: 25px 0;
}

.section h2 span {
    color: #8b5cf6;
}

.about {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 100px;

    margin-top: 50px;
}

.text {
    color: #9999a4;

    line-height: 1.8;

    max-width: 600px;
}

.text b {
    color: white;
}

.links {
    display: flex;

    gap: 25px;

    margin-top: 30px;
}

.links a,
.card a {
    color: #a78bfa;

    font-size: 13px;

    font-weight: bold;
}

.section-title {
    margin-bottom: 50px !important;
}

.cards {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}

.card {
    min-height: 400px;

    padding: 32px;

    border: 1px solid #22222b;

    border-radius: 16px;

    background:
        linear-gradient(
            145deg,
            #0e0e13,
            #09090c
        );

    transition: .3s;

    overflow: hidden;

    position: relative;
}

.card:hover {
    transform: translateY(-7px);

    border-color: #4b3c68;
}

.number {
    color: #5f5f6b;

    font-size: 11px;

    font-weight: bold;
}

.game-icon {
    font-size: 65px;

    margin-top: 55px;
}

.gd {
    color: #a78bfa;
}

.mc {
    color: #4ade80;
}

.card h3 {
    font-size: 30px;

    margin: 15px 0;
}

.card p {
    color: #858592;

    line-height: 1.7;

    max-width: 500px;
}

.card p b {
    color: white;
}

.smp {
    padding: 60px;

    border: 1px solid #29232f;

    border-radius: 20px;

    background:
        radial-gradient(
            circle at 85% 20%,
            rgba(139,92,246,.18),
            transparent 35%
        ),
        #0b0b10;
}

.smp h2 {
    font-size: clamp(50px,8vw,100px);

    margin: 20px 0;
}

.server-ip {
    margin: 30px 0;
}

.server-ip small {
    display: block;

    color: #6f6f7b;

    font-size: 9px;

    letter-spacing: 2px;

    margin-bottom: 8px;
}

.server-ip button {
    padding: 15px 18px;

    background: #07070a;

    color: white;

    border: 1px solid #34343e;

    border-radius: 8px;

    cursor: pointer;

    font-family: inherit;

    font-weight: bold;
}

.server-ip button span {
    color: #8b5cf6;

    margin-left: 10px;
}

.contact {
    margin-top: 45px;

    border-top: 1px solid #22222a;
}

.contact a {
    display: flex;

    justify-content: space-between;

    padding: 25px 0;

    border-bottom: 1px solid #22222a;

    transition: .2s;
}

.contact a:hover {
    padding-left: 10px;
}

.contact span {
    color: #777783;

    font-size: 12px;
}

footer {
    padding: 30px 10%;

    border-top: 1px solid #17171d;

    display: flex;

    justify-content: space-between;

    color: #555560;

    font-size: 9px;

    letter-spacing: 2px;
}

#toast {
    position: fixed;

    right: 25px;
    bottom: 25px;

    padding: 13px 17px;

    background: #17131f;

    border: 1px solid #4b3670;

    border-radius: 8px;

    font-size: 12px;

    opacity: 0;

    transform: translateY(15px);

    transition: .3s;

    z-index: 200;
}

#toast.show {
    opacity: 1;

    transform: translateY(0);
}

@media(max-width: 800px) {

    .navbar {
        padding: 0 5%;
    }

    nav {
        display: none;
    }

    .hero {
        padding: 120px 7%;
    }

    .hero h1 {
        font-size: 16vw;

        letter-spacing: -4px;
    }

    .stats {
        gap: 25px;
    }

    .section {
        padding: 90px 7%;
    }

    .about,
    .cards {
        grid-template-columns: 1fr;

        gap: 50px;
    }

    .smp {
        padding: 30px;
    }

    .contact a {
        flex-direction: column;

        gap: 10px;
    }

    footer {
        padding: 25px 7%;

        flex-direction: column;

        gap: 15px;
    }
}
